.header-container {
  .logo-container {
    img {
      width: 100%;
      max-width: 162px;
    }
    .back-icon {
      position: absolute;
      top: 50%;
      left: 1rem;
      translate: 0% -50%;
    }
  }
}
