@use "../abstracts/variables" as *;

.new-badge {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: $green-light;
  color: $green-dark;
  padding: 0.5rem 0.7rem;
  box-shadow: 0px 2px 4px 0px #00000026;
  border-radius: 2px;

  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;

  &.active {
    display: block;
  }
}
